<!DOCTYPE html>

<html>
	<body>
		
		<!-- Background slider -->
		<div id="about">
		    <div id="myCarousel">
			
				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item active" id="slide1">
						<div class="carousel-caption">
							<h1 class="special-font">Hi! I'm <span class="word-highlight">Jonathan Doe</span></h1>
							<p class="special-font">Web Designer & Developer</p>
						</div><!-- end carousel-caption-->
					</div><!-- end item -->
				</div><!-- carousel-inner -->
			</div><!-- end myCarousel -->
		</div>
		
		
		<!-- Introduction about me -->	
		<div id="reasons">
		<div class="container">
		<div class="row" id="featuresHeading">
			<div class="col-12 text-center hideme">
				<h1 class="special-font">About <span class="word-highlight">me</span></h1>
			</div><!-- end col-12 -->
		</div><!-- end featuresHeading -->
			
			<div class="row hideme">
				<div class="col-sm-6 feature">
					<img src="images/profile.png" alt="HTML5" class="img-thumbnail">
				</div><!-- end feature -->
				
				<div class="col-sm-6 feature">
					
					<p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. 90's authentic single-origin coffee stumptown Pinterest. Fap aesthetic dreamcatcher pickled Brooklyn irony.
					Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, 
					vel illum dolore eu feugiat nulla facilisis esse mole.</p>
					
				</div><!-- end feature -->
			</div><!-- end features -->
		</div><!-- end container -->
	</div><!-- end reasons -->
	
	
	<!-- About me -->	
	<div id="about-me">
	    <div class="container">
		    <div class="row hideme">
			    <div class="col-sm-4 feature">
				
				<h2 class="special-font">What do I <span class="word-highlight">know !</span></h2>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse quat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
				
                </div><!-- end feature -->
				
			<div class="col-sm-4 feature">
			
					<h2 class="special-font">What can I do <span class="word-highlight">for you !</span></h2>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse quat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
					
			</div><!-- end feature -->
				
			<div class="col-sm-4 feature">
			
					<h2 class="special-font">Why choosing <span class="word-highlight">me !</span></h2>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse quat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
					
			</div><!-- end feature -->
		</div><!-- end row --> <hr>
	</div><!-- end container -->
</div><!-- end about-me -->
	

<!-- Footer Section -->
	
<!-- Footer Section -->
	
<footer>
				
	<div class="container hideme">	
			
			<div id="footer-contact">
	        <div class="row col-12">
		
            <div class="col-sm-3">
	
		   
            <h2 class="special-font">About us</h2>
            <p>We are someone!</p>
            <p><a href="about.html">Read more &raquo;</a></p>
			
            </div><!-- end col-3 -->
   
            <div class="col-sm-3">
	
		
           <h2 class="special-font">Latest updates</h2>
            <p><a href="">Blood donation in UIU</a><br>
			<a href="">Needed Blood</a><br>
            <a href="">A day long seminar on Blood Donation</a><br>
            <a href="">Happy Family</a><br>
            <a href="">Say yes, to blood donation!</a></p>
            <p><a href="">Read more &raquo;</a></p>
			
            </div><!-- end col-3 -->
    
            <div class="col-sm-3">
	
		   
            <h2 class="special-font">Contact us</h2>
            <p>Phone : ********<br>
			   Mobile : *********<br>
			   Address : Dhanmondi Dhaka</p>
           <p><a href="contact.html">Contact us &raquo;</a></p>
			
           </div><!-- end col-3 -->
		   
            
			<div class="col-sm-3">
	
		
            <h2 class="special-font">Follow us on</h2>
            <p><a href="">Twitter</a><br>
			<a href="">Facebook</a><br>
            <a href="">Linkedin</a><br>
            <a href="">Dribble</a><br>
            <a href="">Skype</a></p>
			
            </div><!-- end col-3 -->
		 
           </div><!-- .row -->
	
          </div> <!-- end footer-contact section -->
		  
			
			
	<!-- Copyright issues (You can remove it) -->
				
                <div class="row">
                    <div class="col-12 text-center">
                        <h6>Copyright &copy; 2014 ( Kazi Mohammed Ehsan ), Software Engineering Project!</h6>
                    </div>
                </div> <!-- end row -->
                
    </div> <!-- end container -->
			
		
</footer>
	
</body>
</html>

