<!DOCTYPE html>

<html>	
	<body>		
		<!-- Background slider -->
		<div id="about">
		    <div id="myCarousel">
			
				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item active" id="slide3">
						<div class="carousel-caption">
							<h1 class="special-font">We are waiting to <span class="word-highlight">hear</span> from you</h1>
							<p class="special-font">Your suggestions, our command.</p>
						</div><!-- end carousel-caption-->
					</div><!-- end item -->
				</div><!-- carousel-inner -->
			</div><!-- end myCarousel -->
		</div><!-- end about -->
		
		
	<!-- Contact form -->
    <div class="bg-content"> 
        <div class="container">
            <div class="row">
            <form class="form-horizontal" role="form">
			
  <div class="form-group hideme">
    <div class="col-sm-12">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  
  <div class="form-group hideme">
    <div class="col-sm-12">
      <input type="text" class="form-control" placeholder="Your name here ...">
    </div>
  </div>
  
  <div class="form-group hideme">
    <div class="col-sm-12">
      <input type="text" class="form-control" placeholder="Your subject here ...">
    </div>
  </div>
  
  <div class="form-group hideme">
    <div class="col-sm-12">
      <textarea class="form-control" rows="3" placeholder="Your message here ..."></textarea>
    </div>
  </div>
  
  <div class="form-group hideme">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
  
</form><!-- end of form -->
</div><!-- end of row -->

<hr>

     </div><!-- End of container -->	
</div><!-- End of bg-content -->	


	<!-- Google map -->
     <div id="google-map" class="hideme">
		<div class="container">
              <h2 class="special-font text-center">Find us in <span class="word-highlight">google map!</span></h2>
			  <br>
        </div>
        <iframe style="width:100%;height:300px;border:none;" src="https://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=waikiki+beach&amp;aq=&amp;sll=19.896766,-155.582782&amp;sspn=8.711424,11.854248&amp;ie=UTF8&amp;hq=&amp;hnear=Waikiki+Beach,+Honolulu,+Hawaii,+United+States&amp;t=m&amp;ll=21.277298,-157.8265&amp;spn=0.015996,0.036478&amp;z=14&amp;output=embed"></iframe>
    </div><!-- end of google-map -->
	
</body>
</html>

