<!DOCTYPE html>

<html>
    
	<body>	    
        

		<!-- Background slider -->
		<div class="carousel slide" id="myCarousel">
			
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#myCarousel"></li>
					<li data-slide-to="1" data-target="#myCarousel"></li>
					<li data-slide-to="2" data-target="#myCarousel"></li>
				</ol>
			
				<!-- Wrapper for slides -->
				<div class="carousel-inner">
								
					<div class="item active" id="slide1">
						<div class="carousel-caption">
						<img src="~/images/picture2.jpg" alt="My Picture" class="img-circle"/>
							<h1 class="special-font">Did you donate <span class="word-highlight">Blood?</span></h1>
							<p class="special-font">Share your experience with us</p>
						</div><!-- end carousel-caption-->
					</div><!-- end item -->

                    <div class="item" id="slide2">
						<div class="carousel-caption">
						<img src="~/images/picture.jpg" alt="My Picture" class="img-circle"/>
							<h1 class="special-font hideme">Hi! I'm <span class="word-highlight">Kazi Mohammed Ehsan</span></h1>
							<p class="special-font hideme">I regularly donate BLOOD!</p>
						</div><!-- end carousel-caption-->
					</div><!-- end item -->
					
					<div class="item" id="slide3">
						<div class="carousel-caption">
						<img src="~/images/picture2.jpg" alt="My Picture" class="img-circle"/>
							<h1 class="special-font"><span class="word-highlight">Helping</span> others is our only motive</h1>
							<p class="special-font">Yours motive also should be this!</p>
						</div><!-- end carousel-caption-->
					</div><!-- end item -->
				</div><!-- carousel-inner -->
				
				<!-- Controls -->
				<a class="left carousel-control" data-slide="prev" href="#myCarousel"><span class="icon-prev"></span></a>
				<a class="right carousel-control" data-slide="next" href="#myCarousel"><span class="icon-next"></span></a>
			
			</div><!-- end myCarousel -->
			
			
		<div id="bigCallout">
			<div class="container text-center hideme">
			    <div class="row">
			        <div class="col-12">
			
			        <h1 class="special-font">Best thing you can do in your life is Donate BLOOD!</h1>
			        <p>The difference between yourself and normal people is, you donate BLOOD but they don't!!</p>
			
                   </div><!-- end col-12 -->
			    </div><!-- end row -->
			</div><!-- end container -->
		</div><!-- end bigCallout -->

		
		<!-- Reasons to buy this template -->	
		<div id="reasons">
		<div class="container">
		<div class="row" id="featuresHeading">
			<div class="col-12 text-center hideme">
				<h1 class="special-font">What you <span class="word-highlight">WANT?</span></h1>
			</div><!-- end col-12 -->
		</div><!-- end featuresHeading -->
			
			<div class="row text-center hideme">
				<div class="col-sm-4 feature">
					<div class="panel">
						<div class="panel-heading">
							<h3 class="panel-title">Register as DONOR!</h3>
						</div><!-- end panel-heading -->
						<img src="~/images/picture2.jpg" alt="Register Donor" class="img-circle">
						
						<p>Join the team of heroes!</p>
						
						<a href="~/Donors/Create" target="_blank" class="btn btn-default btn-block">Register Now!</a>
					</div><!-- end panel -->
				</div><!-- end feature -->
				
				<div class="col-sm-4 feature">
					<div class="panel">
						<div class="panel-heading">
							<h3 class="panel-title">See Donors List</h3>
						</div><!-- end panel-heading -->
						<img src="~/images/donors.jpg" alt="Donors" class="img-circle">
						
						<p>We have many donors, take a look!</p>
						
						<a href="~/Donors/Index" target="_blank" class="btn btn-default btn-block">See Now!</a>
					</div><!-- end panel -->
				</div><!-- end feature -->
				
				<div class="col-sm-4 feature">
					<div class="panel">
						<div class="panel-heading">
							<h3 class="panel-title">Need Blood?</h3>
						</div><!-- end panel-heading -->
						<img src="~/images/emergency.png" alt="Bootstrap 3" class="img-circle">
						
						<p>Tell us if you need blood.</p>
						
					    <a href="~/Wanted/Create" target="_blank" class="btn btn-default btn-block">Emergency!</a>
					</div><!-- end panel -->
				</div><!-- end feature -->
			</div><!-- end features -->
		</div><!-- end container -->
	</div><!-- end reasons -->
	
	
	
	<div id="bigCallout1">
		<div class="container text-center hideme">
			<div class="row">
			    <div class="col-12">
			
			    <h1 class="special-font">Thousands of happy <span class="word-highlight">donors</span></h1>
			    <p>So what are you waiting for ? Join us! </p>
			
			    </div><!-- end col-12 -->
			</div><!-- end row -->
		</div><!-- end container -->
	</div><!-- end bigCallout1 -->
	
	

			
			<hr>

			<!-- Large image view -->
			<div class="modal fade" id="myModal">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button class="close" data-dismiss="modal">&times;</button>
												<img src="http://placehold.it/600x350" alt="Sample" class="img-thumbnail">
											</div><!-- end modal-header -->
										</div><!-- end modal-content -->
									</div><!-- end modal-dialog -->
								</div><!-- end myModal -->
		
		
	    <!-- Clients section -->
		<div id="clients">
		    <div class="row hideme">
               <div class="col-12 text-center">
	
		       <h1 class="special-font">Find <span class="word-highlight">us</span></h1>
			   
			   </div><!-- end col-12 -->
			   
                   <div class="col-12 using-this">
                    <div class="using-this-container">
                        <a class="using-this-google" href="#"></a>
                        <a class="using-this-pinterest" href="#"></a>
                        <a class="using-this-youtube" href="#"></a>
                        <a class="using-this-google" href="#"></a>
                        <a class="using-this-pinterest" href="#"></a>
                    </div>
                </div><!-- end col-12 -->
            </div> <!-- end row -->
        </div> <!-- End of Clients -->
	
	
<!-- Footer Section -->
	
<footer>
				
	<div class="container hideme">	
			
			<div id="footer-contact">
	        <div class="row col-12">
		
            <div class="col-sm-3">
	
		   
            <h2 class="special-font">About us</h2>
            <p>We are someone!</p>
            <p><a href="about.html">Read more &raquo;</a></p>
			
            </div><!-- end col-3 -->
   
            <div class="col-sm-3">
	
		
           <h2 class="special-font">Latest updates</h2>
            <p><a href="">Blood donation in UIU</a><br>
			<a href="">Needed Blood</a><br>
            <a href="">A day long seminar on Blood Donation</a><br>
            <a href="">Happy Family</a><br>
            <a href="">Say yes, to blood donation!</a></p>
            <p><a href="">Read more &raquo;</a></p>
			
            </div><!-- end col-3 -->
    
            <div class="col-sm-3">
	
		   
            <h2 class="special-font">Contact us</h2>
            <p>Phone : ********<br>
			   Mobile : *********<br>
			   Address : Dhanmondi Dhaka</p>
           <p><a href="contact.html">Contact us &raquo;</a></p>
			
           </div><!-- end col-3 -->
		   
            
			<div class="col-sm-3">
	
		
            <h2 class="special-font">Follow us on</h2>
            <p><a href="">Twitter</a><br>
			<a href="">Facebook</a><br>
            <a href="">Linkedin</a><br>
            <a href="">Dribble</a><br>
            <a href="">Skype</a></p>
			
            </div><!-- end col-3 -->
		 
           </div><!-- .row -->
	
          </div> <!-- end footer-contact section -->
		  
			
			
	<!-- Copyright issues (You can remove it) -->
				
                <div class="row">
                    <div class="col-12 text-center">
                        <h6>Copyright &copy; 2014 ( Kazi Mohammed Ehsan ), Software Engineering Project!</h6>
                    </div>
                </div> <!-- end row -->
                
    </div> <!-- end container -->
			
		
</footer>
	

	
	
</body>
</html>

